@import url("https://static.gather.town/fonts/inter/inter.css");

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family:
    InterVariable,
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  font-feature-settings:
    "liga" 1,
    "calt" 1;
  font-variant-ligatures: common-ligatures;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
}

.sbdocs-content {
  max-width: 900px !important;
}
