.sidebarLink {
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 8px;
  color: rgba(0, 0, 0, 0.9) !important;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

.sidebarLink:hover:not(.sidebarLinkActive) {
  background-color: rgba(212, 212, 212, 0.2);
}

.sidebarLinkActive {
  background-color: rgb(212, 212, 212);
}
