name: Build Docker Images

on:
  workflow_call:
    inputs:
      cache-key:
        description: 'Cache key to use for build cache (usually branch)'
        type: string
        required: true
  workflow_dispatch:
    inputs:
      cache-key:
        description: 'Cache key to use for build cache (usually branch)'
        type: string
        required: true

permissions:
  contents: read
  packages: read

jobs:
  build:
    name: "Build Docker Image (${{ matrix.name }})"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - name: api
            dockerfile: Dockerfile.api
          - name: grapevine
            dockerfile: Dockerfile.grapevine
          - name: ingest
            dockerfile: Dockerfile.ingest
          - name: ingest-gatekeeper
            dockerfile: Dockerfile.ingest-gatekeeper
          - name: ingest-worker
            dockerfile: Dockerfile.ingest-worker
          - name: index-worker
            dockerfile: Dockerfile.index-worker
          - name: cron-worker
            dockerfile: Dockerfile.cron-worker
          - name: slackbot
            dockerfile: Dockerfile.slackbot
          - name: steward
            dockerfile: Dockerfile.steward
          - name: migrations
            dockerfile: Dockerfile.migrations

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - uses: ./.github/actions/setup-tools
        id: tools
        with:
          github_token: ${{ github.token }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Create prebuilt-assets directory
        run: mkdir -p prebuilt-assets

      - name: Sanitize cache-key
        id: cache-key
        env:
          CACHE_KEY: ${{ inputs.cache-key }}
        run: |-
          SANITIZED_KEY=$(tr '[:upper:]' '[:lower:]' <<< "$CACHE_KEY" | sed 's/[^a-z0-9._-]/-/g')
          echo "sanitized=$SANITIZED_KEY" >> "$GITHUB_OUTPUT"

      - name: Build Docker image
        uses: docker/build-push-action@v6
        with:
          file: ${{ matrix.dockerfile }}
          push: false
          context: .
          build-args: |-
            GITHUB_TOKEN=${{ github.token }}
            PYTHON_VERSION=${{ steps.tools.outputs.python }}
            NODE_VERSION=${{ steps.tools.outputs.node }}
            UV_VERSION=${{ steps.tools.outputs.uv }}
          cache-from: type=gha,scope=${{ matrix.name }}-${{ steps.cache-key.outputs.sanitized }}
          cache-to: type=gha,mode=max,scope=${{ matrix.name }}-${{ steps.cache-key.outputs.sanitized }}
