name: Build and Deploy to Staging

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false # We only want to run one at a time.

jobs:
  build:
    uses: ./.github/workflows/build-docker-images.yaml
    with:
      push: true
      cache-key: ${{ github.ref_name }}
      upload-s3-assets: true
    secrets: inherit

  deploy:
    runs-on: ubuntu-latest
    needs: [build]

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          ssh-key: ${{ secrets.DEPLOY_STAGING_DEPLOY_KEY }}

      - uses: ./.github/actions/setup-tools
        with:
          github_token: ${{ github.token }}

      - name: Extract SHA for deployment
        id: sha
        run: |-
          echo "short=$(git log -1 --format='%H' | cut -c1-10)" >> "$GITHUB_OUTPUT"

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_DEPLOY_ROLE_TO_ASSUME }}

      - name: Update kubeconfig
        run: aws eks update-kubeconfig --region us-east-1 --name gather-ai-aws-stg-us-east-1-a --alias gather-ai-aws-stg-us-east-1-a

      - uses: ./.github/actions/commit-images
        with:
          environment: staging
          commit_sha_short: ${{ steps.sha.outputs.short }}

      - name: Deploy HubSpot
        uses: ./.github/actions/hubspot
        with:
          project_dir: 'connector-apps/hubspot/staging'
          personal_access_key: ${{ secrets.HUBSPOT_PERSONAL_ACCESS_KEY }}
          account_id: ${{ secrets.HUBSPOT_ACCOUNT_ID }}
